#container{
    height: 500px;
    width: 90%;
    background-color: aquamarine;
   font-size: 30px;
   color: aliceblue;
   margin: 10px auto;
   border: 2px solid black;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly; 
   flex-wrap: wrap; 
   align-items: flex-start; 
   align-content: baseline;
}

#container div{
    height: 200px;
    width: 300px;
    color: white;
}

